<!doctype html>
<html lang="en">

<head>
  <title>ejs engine</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>


<%# 
  < %=: Escaped output (encoding/escaping) primary defense mechanism to stop XSS attacks
  < %-: Unescaped output => means ja ase tai output hobe.
  < %#: Comments
  < %: Scriptlet
  < %_: Scriptlet, removes all preceding(Purboborti) whitespace
%>

<%#
  % >: Regular ending tag
  -% >: Removes trailing newline
  _% >: Removes all trailing whitespace
%>

<%#
  Including other files
  “Preprocessor” directive
  JavaScript include() function 
 %>

 <h1>index page</h1>
  <p>Hello, <%= title %>.</p>
  <p>Hello , <%- title %>.</p>
  <p>Hello, <%= 'the Most Honorable ' + title %>.</p>

  <div>
    <%# comment %>
  </div>

  <!-- here trim space between two div tag for using -%> -->
  <!-- -%> trims all extra newlines a scriptlet or a comment might cause -->

  <div>
    <%# comment
    
    -%>
    shnto
  </div>

  Beginning of template
  <%  'this is a statement'
  + ' that is long'
  + ' and long'
  + ' and long' %>
  End of template
  ---
  Beginning of template
  <%  'this is a statement'
  + ' that is long'
  + ' and long'
  + ' and long' -%>
  End of template


<ul>
    <% for( let x of people) { %>
        <li> <%= x.name %></li>
    <% } %>
</ul>
  <!-- here we include another html file. -->

  <!-- < %- include('partial/included') % > -->

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>